<div class="portafolio-container">
  <section class="pendientes">
    <app-pendiente-card></app-pendiente-card>
  </section>

  <section class="contenido">
    <div class="lista-certificados">
      <h2>Certificados Externos</h2>
      <app-certificado-card
        *ngFor="let cert of certificados"
        [data]="cert"
      ></app-certificado-card>
    </div>

    <div class="lista-actividades">
      <h2>Actividades Aprobadas (Vías UC)</h2>
      <app-actividad-card
        *ngFor="let act of actividades"
        [data]="act"
      ></app-actividad-card>
    </div>
  </section>
</div>
